.littleBox {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 1px white;
  padding: 1rem;
}

.boxBody {
  padding: 1rem;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  min-width: 120px; 
}

.grid {
  width: 100%;
  overflow:hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}